/* THEMES */

/********** Theme: dark **********/
/* Font styles */
.flipdown.flipdown__theme-dark {
  font-family: sans-serif;
  font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #000000;
}
/* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #151515;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #FFFFFF;
  background-color: #151515;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #EFEFEF;
  background-color: #202020;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 1px #151515;
}

/********** Theme: light **********/
/* Font styles */
.flipdown.flipdown__theme-light {
  font-family: sans-serif;
  font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-light .rotor-group-heading:before {
  color: #EEEEEE;
}
/* Delimeters */
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #DDDDDD;
}
/* Rotor tops */
.flipdown.flipdown__theme-light .rotor,
.flipdown.flipdown__theme-light .rotor-top,
.flipdown.flipdown__theme-light .rotor-leaf-front {
  color: #222222;
  background-color: #DDDDDD;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-rear {
  color: #333333;
  background-color: #EEEEEE;
}
/* Hinge */
.flipdown.flipdown__theme-light .rotor:after {
  border-top: solid 1px #222222;
}

/* END OF THEMES */

.flipdown {
  overflow: visible;
  width: 510px;
  height: 110px;
}

.flipdown .rotor-group {
  position: relative;
  float: left;
  padding-right: 30px;
}

.flipdown .rotor-group:last-child {
  padding-right: 0;
}

.flipdown .rotor-group-heading:before {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  content: attr(data-before);
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor {
  position: relative;
  float: left;
  width: 50px;
  height: 80px;
  margin: 0px 5px 0px 0px;
  border-radius: 4px;
  font-size: 4rem;
  text-align: center;
  perspective: 200px;
}

.flipdown .rotor:last-child {
  margin-right: 0;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
}

.flipdown .rotor-leaf {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 0;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-leaf-rear {
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
  transform: rotateX(-180deg);
}

.flipdown .rotor-top {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-bottom {
  bottom: 0;
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
}

.flipdown .rotor:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 550px) {

  .flipdown {
    width: 312px;
    height: 70px;
  }

  .flipdown .rotor {
    font-size: 2.2rem;
    margin-right: 3px;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px;
  }

  .flipdown .rotor-group {
    padding-right: 20px;
  }

  .flipdown .rotor-group:last-child {
    padding-right: 0px;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    left: 69px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    bottom: 13px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    bottom: 29px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 50px;
  }

  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 50px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px;
  }
}

/* Global disi kod -BT */
.read-time-area {
  max-width: max-content;
  width: 100%;
  padding-left: 32px;
  /* height: 57px; */
}

.read-time-area .flipdown {
  margin: auto;
}

.read-time-area h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.read-time-area p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.read-time-area .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.read-time-area .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #333;
  margin: 0px;
}

.read-time-area .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.read-time-area .button:hover {
  background-color: #333;
  color: #FFF;
}

.read-time-area .button i {
  margin-right: 5px;
}

.flipdown {
  width: 100%;
  height: 57px;
}

.flipdown .rotor-group {
  display: grid;
  row-gap: 2px;
  padding-right: 12px;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
      "numberone numbertwo numbertree"
      "head head head"
}

.flipdown .rotor-group::after,
.flipdown .rotor-group::before {
  display: none;
}

.flipdown .rotor-group .rotor-group-heading {
  grid-area: head;
}

.flipdown .rotor-group .rotor:nth-child(2) {
  grid-area: numberone;
}

.flipdown .rotor-group .rotor:nth-child(3) {
  grid-area: numbertwo;
}

.flipdown .rotor-group .rotor:nth-child(4) {
  grid-area: numbertree;
}

.flipdown .rotor-leaf {
  width: 30px;
  height: 40px;
}

.flipdown .rotor-group-heading:before {
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: center;
}

.flipdown .rotor:after {
  width: 30px;
  height: 20px;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
  width: 30px;
  height: 20px;
}

.flipdown .rotor-top,
.flipdown .rotor-leaf-front {
  line-height: 40px;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
  width: 30px;
  height: 20px;
  max-width: 30px;
  max-height: 40px;
}

.flipdown .rotor {
  width: 30px;
  height: 40px;
  max-width: 30px;
  max-height: 40px;
  font-size: 24px;
  font-weight: 800;
  margin: 0 2px 0 0;
  color: #FFF;
}

.flipdown.flipdown__theme-dark .rotor:after {
  border-top: unset;
}

.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background-color: #222943;
}

.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  background-color: #06386C;
}

.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-top,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #06386C;
}

.container:has(.text-white) .flipdown .rotor,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-bottom,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #06386C;
}

.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-bottom,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background-color: #DEE3ED;
}

.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-top,
.container:has(.text-white) .flipdown.flipdown__theme-dark .rotor-leaf-front {
  background: #FFF;
}

.container:has(.text-white) .flipdown .rotor-group-heading:before {
  color: #FFFFFF;
}

.banner-wrap .banner-item .container {
  flex-direction: column-reverse;
  justify-content: center!important;
  align-items: start!important;
  gap: 16px;
}

@media(max-width: 550px) {
  .read-time-area {
      width: 100%;
      height: 362px;
      position: absolute;
      top: 125px;
      padding-left: unset;
  }

  .read-time-area h1 {
      font-size: 2.5em;
  }

  .read-time-area p {
      margin-bottom: 25px;
  }

  .read-time-area .buttons {
      width: 100%;
      margin-top: 25px;
      text-align: center;
      display: block;
  }

  .read-time-area .buttons p,
  .read-time-area .buttons a {
      float: none;
      margin: 0 auto;
  }

  .read-time-area .buttons p {
      padding-right: 0px;
  }

  .read-time-area .buttons a {
      display: inline-block;
  }
  .banner-wrap .banner-item .container{
    flex-direction: unset;
  }
}
/* END _BT */